.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
  }

  .input-light{
    background-color: #fff;
  }

  .input-dark{
    color: #fff;
    background-color: rgb(164, 164, 164);
  }


  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton{
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
  }

  .sendButton-light {
    color: #fff !important;
    background: #2979FF;

  }

  .sendButton-dark {
    color: rgb(210, 209, 209) !important;

    background: #1454c4;

  }